// Import vendors
// --------------
@import 'compass';
@import 'compass/reset';
@import 'susy';
@import 'breakpoint';


// Import core
// -----------
@import '../../core/fonts';
@import '../../core/settings';
@import '../../core/helpers';
@import '../../core/content';
@import '../../core/base';
@import '../../core/layout';


// // Import modules
// // --------------
@import '../../modules/sprites';
@import '../../modules/form';
@import '../../modules/menu';
@import '../../modules/tab';
@import '../../modules/news';
@import '../../modules/header';
@import '../../modules/footer';


.home-page {
  
  .main-header-container {
    height: 700px;
    background: url('../../../images/head-bg1.jpg') 0 0 no-repeat;
    background-size: 100% 100%;
  }
  
}
